/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:900&display=swap');

h1, h4 {
  font-family: 'Work Sans', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#logo-container {
  height: 80%;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

body > div.parallax-container#results-header  {
  height: 150px;
  min-height: 10px;
}

#results-header, #results-container {
  display: none;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

  /* Meetup Cards Styling */
  .meetup-card .card-image .card-title {
    padding: 5px 24px;
  }

  .meetup-card .card-title {
    font-size: 2vw;
    text-shadow: 2px 2px 4px #444;
    font-family: 'Work Sans', sans-serif;
  }

  .meetup-card p {
    line-height: 1.5rem;
    padding: .5rem;
  }

 .address p {
   padding: 0;
 }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /* top: 40%; */
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  .parallax-container .section {
    position: absolute;
    top: 10%;
  }

  #index-banner .section {
    top: 0;
  }

  .meetup-card .card-title {
    font-size: 5vw;
  }

  #logo-containter {
    display: block;
  margin: auto 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
